<h2 class="page-title">Войти</h2>
<%= form_for :session, url: login_path do |f| %>
  <div>
    <%= f.label :email, "Электронная почта" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password, "Пароль" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :remember_me, "Запомнить меня" %>
    <%= f.check_box :remember_me %>
  </div>
  <%= f.submit 'Войти' %>
<% end %>
