<div>
  <%= f.label :name, "Имя" %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :fixed_rate, "Фиксированная ставка" %>
  <%= f.text_field :fixed_rate %>
</div>
<div>
  <%= f.label :interest_rate, "Процентная ставка" %>
  <%= f.text_field :interest_rate %>
</div>
