<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :fixed_rate %>
  <%= f.text_field :fixed_rate %>
</div>
<div>
  <%= f.label :interest_rate %>
  <%= f.text_field :interest_rate %>
</div>
