<% if event.event_type=='shopping' %>

  <div class="event shopping_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", user_event_path(user_id, event.id), class: 'time' %>
      <%= content_tag :span, "-#{event.sum} руб", class: 'sum-red' %>
      <%= content_tag :span, 'Закупка товара', class: 'type' %>
    </div>
  </div>

<% elsif event.event_type=='throwing' %>

  <div class="event throwing_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", user_event_path(user_id, event.id), class: 'time' %>
      <%= content_tag :span, "-#{event.sum} руб", class: 'sum' %>
      <%= content_tag :span, 'Списание товара', class: 'type' %>
    </div>
  </div>

<% elsif event.event_type=='giving' %>

  <div class="event giving_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", user_event_path(user_id, event.id), class: 'time' %>
      <%= content_tag :span, "#{event.sum} руб", class: 'sum' %>
      <%= content_tag :span, "Передача товара для:", class: 'type' %>
      <%= link_to event.giving_events.first.employee.name, user_employee_path(params[:user_id], event.giving_events.first.employee.id), class: 'employee' %>
    </div>
  </div>

<% elsif event.event_type=='start_work_session' %>

  <div class="event start_work_session_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", '#', class: 'time' %>
      <%= content_tag :span, "Начало рабочей сессии:", class: 'type' %>
      <%= link_to event.start_work_session_event.employee.name, user_employee_path(params[:user_id], event.start_work_session_event.employee.id), class: 'employee' %>
    </div>
  </div>

<% elsif event.event_type=='taking' %>

  <div class="event taking_event">
      <div>
        <%= link_to "#{to_local_time(event.created_at)}", user_event_path(user_id, event.id), class: 'time' %>
        <%= content_tag :span, "#{event.sum} руб", class: 'sum' %>
        <%= content_tag :span, "Получение товара от:", class: 'type' %>
        <%= link_to event.taking_events.first.employee.name, user_employee_path(params[:user_id], event.taking_events.first.employee.id), class: 'employee' %>
      </div>
  </div>

<% elsif event.event_type=='selling' %>

  <div class="event selling_event">
      <div>
        <%= link_to "#{to_local_time(event.created_at)}", user_event_path(user_id, event.id), class: 'time' %>
        <%= content_tag :span, "+#{event.sum} руб", class: 'sum-green' %>
        <%= content_tag :span, "Продажа товара: ", class: 'type' %>
        <%= link_to event.selling_events.first.employee.name, user_employee_path(params[:user_id], event.selling_events.first.employee.id), class: 'employee' %>
      </div>
  </div>

<% elsif event.event_type=='employee_salary' %>

  <div class="event employee_salary_event">
      <div>
        <%= link_to "#{to_local_time(event.created_at)}", '#', class: 'time' %>
        <%= content_tag :span, "-#{event.sum} руб", class: 'sum-red' %>
        <%= content_tag :span, "Зарплата для: ", class: 'type' %>
        <%= link_to event.employee_salary_event.employee.name, user_employee_path(params[:user_id], event.employee_salary_event.employee.id), class: 'employee' %>
      </div>
  </div>

<% elsif event.event_type=='end_work_session' %>

  <div class="event end_work_session_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", '#', class: 'time' %>
      <%= content_tag :span, "Конец рабочей сессии:", class: 'type' %>
      <%= link_to event.end_work_session_event.employee.name, user_employee_path(params[:user_id], event.end_work_session_event.employee.id), class: 'employee' %>
    </div>
  </div>

<% elsif event.event_type=='fare' %>

  <div class="event fare_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", '#', class: 'time' %>
      <%= content_tag :span, "- #{event.fare_event.sum} руб", class: 'sum-red' %>
      <%= content_tag :span, "Транспортный расход:", class: 'type' %>
      <%= content_tag :span, "«#{event.fare_event.description}»", class: 'description' %>
    </div>
  </div>

<% elsif event.event_type=='tax' %>

  <div class="event tax_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", '#', class: 'time' %>
      <%= content_tag :span, "- #{event.tax_event.sum} руб", class: 'sum-red' %>
      <%= content_tag :span, "Оплата налогов:", class: 'type' %>
      <%= content_tag :span, "«#{event.tax_event.description}»", class: 'description' %>
    </div>
  </div>

<% elsif event.event_type=='equipment' %>

  <div class="event equipment_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", '#', class: 'time' %>
      <%= content_tag :span, "- #{event.equipment_event.sum} руб", class: 'sum-red' %>
      <%= content_tag :span, "Расход на оборудование:", class: 'type' %>
      <%= content_tag :span, "«#{event.equipment_event.description}»", class: 'description' %>
    </div>
  </div>

<% elsif event.event_type=='other_expense' %>

  <div class="event other_expense_event">
    <div>
      <%= link_to "#{to_local_time(event.created_at)}", '#', class: 'time' %>
      <%= content_tag :span, "- #{event.other_expense_event.sum} руб", class: 'sum-red' %>
      <%= content_tag :span, "Другой расход:", class: 'type' %>
      <%= content_tag :span, "«#{event.other_expense_event.description}»", class: 'description' %>
    </div>
  </div>

<% end %>
