<%= content_tag :h2, "Получение товара от #{@employee.name}", class: 'page-title' %>
<%= render 'shared/errors' %>
<%= form_for :end_work_session, url: user_employee_delete_work_session_path do |f| %>
  <%= render 'select_stuff', stuff: @stocks, f: f %>
  <div>
    <%= f.label :end_work_session %>
    <%= f.check_box :end_work_session %>
  </div>
  <%= f.submit 'Take stuff' %>
<% end %>
