<%= render 'search' if AllEvent.any? %>
<% if @events && @events.any? %>
  <%= render 'shared/paginator', model: AllEvent, common_link: user_events_path %>
  <% @events.each do |date, events| %>
  <div>
    <%= content_tag :h4, date %>
    <ul>
      <% events.each do |event| %>
        <li>
          <%= render 'event_link', event: event, user_id: params[:user_id] %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% else %>
  <%= content_tag :h3, "You don't have any events yet" %>
<% end %>
