<% if @events && @events.any? %>
  <% @events.each do |date, events| %>
  <div>
    <%= content_tag :h4, date %>
    <ul>
      <% events.each do |event| %>
        <li>

          <% if event.event_type=='shopping' %>
            <div class="event shopping_event">
              <a href= <%=user_event_path(params[:user_id], event.id)%> >
                <%= content_tag :span, to_local_time(event.created_at), class: 'time' %>
                <%= content_tag :span, 'Shopping', class: 'type' %>
                <%= content_tag :span, "-#{event.sum} rub", class: 'sum' %>
              </a>
            </div>
          <% end %>

        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% else %>
  <%= content_tag :h3, "You don't have any events yet" %>
<% end %>
