<%= render 'search' if AllEvent.any? %>
<% if @events && @events.any? %>
  <%= render 'shared/paginator' %>
  <% @events.each do |event_group| %>
    <% date=event_group[:date] %>
    <% events=event_group[:events] %>
    <div class="date-events">
      <%= content_tag :h4, date %>
      <ul>
        <% events.each do |event| %>
          <li>
            <%= render 'event_link', event: event, user_id: params[:user_id] %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <%= content_tag :h3, "Еще нет ни одного события" %>
<% end %>
