<% if !@employee.active? %>
  <h3 class="page-title">You can not start new work session for deleted employee</h3>
<% elsif !@warehouses.any?%>
  <h3 class="page-title">There are nothing in your warehouse</h3>
<% else %>
  <% if @employee.working? %>
    <%= content_tag :h3, "Add stuff to #{@employee.name}", class: 'btn' %>
  <% else %>
    <%= content_tag :h3, "New work session for #{@employee.name}", class: 'page-title' %>
  <% end %>


  <%= render 'shared/errors' %>

  <%= form_for :work_session, url: user_employee_create_work_session_path(params[:user_id], params[:employee_id]) do |f| %>
    <%= render 'select_stuff', stuff: @warehouses, f: f %>
    <%= f.submit 'Start' %>
  <% end %>

<% end %>
