<h2>New shopping</h2>
<%= render 'shared/errors' %>
<% if @products && @products.any? %>
  <%= form_for :shopping_event, url: user_create_shopping_path do |f| %>
    <% @products.each do |product| %>
      <div>
        <%= f.label product.name %>
        <%= f.text_field product.name, value: 0%>
        <%= content_tag :span, 'unit(s)' %>
      </div>
    <% end %>
    <%= f.submit 'Shop' %>
  <% end %>
<% else %>
  <h3>You don't have any products to shop</h3>
<% end %>
