<h2 class="page-title">Новая закупка товара</h2>
<%= render 'shared/errors' %>
<% if @active_products && @active_products.any? %>
  <%= form_for :shopping_event, url: user_create_shopping_path do |f| %>
    <% @active_products.each do |product| %>
      <div>
        <%= link_to product.name, user_product_path(params[:user_id], product.id) %>
        <%= f.text_field product.name, value: 0%>
        <%= content_tag :span, "единиц * #{product.price_in} руб" %>
      </div>
    <% end %>
    <%= f.submit 'Купить' %>
  <% end %>
<% else %>
  <h3>Нет продуктов для закупки</h3>
<% end %>
