<div>
  <%= f.label :email, "Электронная почта" %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :name, "Имя" %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :timezone, "Часовой пояс" %>
  <%= f.select(:timezone) do %>
    <% timezones.each do |timezone| %>
      <%= content_tag :option, timezone[:zone], value: timezone[:value], selected: selected_timezone(timezone, @user) %>
    <% end %>
  <% end %>
</div>
<div>
  <%= f.label :password, "Пароль" %>
  <%= f.password_field :password %>
</div>
<div>
  <%= f.label :password_confirmation, "Подтверждение пароля" %>
  <%= f.password_field :password_confirmation %>
</div>
