<h2 class="page-title">Редактировать <em><%=@user.name%></em> профиль</h2>
<%= render 'shared/errors' %>
<%= form_for @user do |f| %>
  <%= render 'user', f: f %>
  <%= f.submit 'Редактировать' %>
<% end %>
