<header>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Edit', '/users/1/edit' %></li>
    <li><%= link_to 'Sign in', '#' %></li>
    <li><%= link_to 'Sign up', signup_path %></li>
    <li><%= link_to 'Sign out', '#' %></li>
  </ul>
</header>
