<header>
  <% if current_user && current_user.admin?%>
  <h3 class="page-title">РЕЖИМ АДМИНИСТРАТОРА</h3>
    <ul class="sign">
      <li><%= link_to 'Все пользователи', users_path %></li>
      <li><%= link_to 'Выйти', logout_path, method: :delete %></li>
    </ul>
  <% elsif current_user %>
    <ul class="sign">
      <li><%= link_to 'Управление', user_path(current_user) %></li>
      <li><%= link_to 'Выйти', logout_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul class="sign">
      <li><%= link_to 'Войти', login_path %></li>
      <li><%= link_to 'Регистрация', signup_path %></li>
    </ul>
  <% end %>
</header>
