<div>
  <%= f.label :name, 'Product name' %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :price_in, 'Purchase price' %>
  <%= f.text_field :price_in %>
</div>
<div>
  <%= f.label :price_out, 'Selling price' %>
  <%= f.text_field :price_out %>
</div>
