<div>
  <%= f.label :name, 'Наименование продукта' %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :price_in, 'Цена покупки' %>
  <%= f.text_field :price_in %>
</div>
<div>
  <%= f.label :price_out, 'Цена продажи' %>
  <%= f.text_field :price_out %>
</div>
