<%= content_tag :h2, "Продукт: #{@product.name}", class: 'page-title' %>
<div class="info">
  <div><%= content_tag :p, "Цена покупки: #{@product.price_in}" %></div>
  <div><%= content_tag :p, "Цена продажи: #{@product.price_out}" %></div>
</div>

<% if @product.active? %>
  <ul class="actions">
    <li><%= link_to 'Все продукты', user_products_path %></li>
    <li><%= link_to 'Редактировать продукт', edit_user_product_path %></li>
  </ul>
<% end %>

<div class="danger-zone">
  <%= link_to toggler_action(@product), user_product_path, method: :delete, data: {confirm: confirm_message(@product)} %>
</div>
